/* hyperlinks*/
a{
    color: rgb(111, 39, 255);
    text-decoration: none;
}

a:hover { 
    color: turquoise;
}

a:active {
    color: blanchedalmond;
}

/*hyperlinks*/

/*header*/
.hoofd {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
}

.link {
   display: flex;
   align-items: center;
   justify-content: space-between;
}


.link li  {
    list-style: none;
    display: inline-block;
}

li a {
    color: rgb(223, 218, 218);
    font-size: 23px;
    font-weight: 600;
    margin-right: 100px;
}

article {
    color: aliceblue;
}

/*header*/

